includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - routes/
        - tests/PHPStan/

    # Level 9 is the highest level
    level: 9

    # Check for unmapped attributes and models
    databaseMigrationsPath:
        - database/migrations

rules:
    - Tests\PHPStan\DomainHasTestRule
