includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - routes/

    # Level 9 is the highest level
    level: 5

    # Check for unmapped attributes and models
    databaseMigrationsPath:
        - database/migrations
